<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show user details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>All User Details</h1>
    <a href="http://localhost:8080"><b>BACK</b></a><br><br>
    
    <table>
       <tr>
        <th>id</th>
        <th>username</th>
        <th>email</th>
       </tr>
       
        <%for(let user of data){%>
            <tr>
        <td> <%=user.id%></td>
        <td> <%=user.username%></td>
       <td><%=user.email%></td>
        <td><form method="get" action="/user/<%=user.id%>/edit">
            <button>Edit username</button>
        </form>
        </td>
         <td><form method="post" action="/user/<%=user.id%>?_method=DELETE">
            <button>Delete username</button>
        </form>
        </td>
       
        <% } %>
        
    </tr>
    </table>
    
</body>
</html>
